[Unit]
Description=Serive to run powershell script for checking container fd limits on an interval

[Service]
Type=oneshot
WorkingDirectory=/home/civitaiusr
Environment="HOME=/home/civitaiusr"
ExecStart=/usr/bin/pwsh -File /home/civitaiusr/host-watch-scripts/bot-backend-fd-limit/watch-fd-botbackend.ps1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bot-backend-fd-limit