[Unit]
Description=Serive to run powershell script for checking container fd limits on an interval

[Service]
Type=oneshot
WorkingDirectory=/home/civitaiusr
ExecStart=/usr/bin/pwsh -File /home/civitaiusr/host-watch-scripts/async-worker-du-limit/watch-async-worker-du-limit.ps1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=async-worker-du-limit